name: GitHub - Action Lint

on:
  push:
    branches:
      - "**"
    paths:
      - ".github/workflows/**"

jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: raven-actions/actionlint@963d4779ef039e217e5d0e6fd73ce9ab7764e493 #v2.1.0
